$cs-text-color: #ab9ba9;
$cs-background: #4D394B;
$cs-hover-background: #3E313C;
$cs-selected-color: #4c9689;
$divider-color: #e8e8e8;
$aside-info-color: #9e9ea6;
$channel-text-color: #2c2d30;
$icon-blue: #3aa3e3;
$hover-blue: #439fe0;
$message-hover-color: #f9f9f9;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

body {
  background: #fff;
  color: #555459;
  height: 100%;
  margin: 0;
  font-size: 1rem;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  margin-bottom: -1px;
}

.channel-footer {
  position: fixed;
  bottom: 0;
  left: 220px;
  right: 1rem;
  height: 4rem;
  background: #fff;
  z-index: 40;
  box-sizing: border-box;
}

.message-input-container {
  position: absolute;
  left: 64px;
  bottom: 22px;
  right: 4px;
  min-height: 42px;
  max-height: 160px;
  margin-right: 1rem;
  font-size: .9375rem;
  line-height: 1.2rem;
  box-shadow: none;
  border: 2px solid #e0e0e0;
  border-left: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 52;
  background: #fff;
  box-sizing: border-box;
  // overflow: scroll;
}

.message-input {
  width: 100%;
  height: 100%;
  position: absolute;
  vertical-align: top;
  border: none;
  min-height: 38px;
  max-height: 160px;
  bottom: 0;
  margin: 0;
  resize: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  flex-direction: column;
  background: transparent;
  font-family: inherit !important;
}

.message-input, .resize-mirror {
  white-space: pre-wrap;
  word-wrap: break-word;
  outline: 0;
  padding: 9px 40px 9px 8px;
  overflow: auto;
  font-size: .9375rem;
  line-height: 1.2rem;
}

.resize-mirror {
  visibility: hidden;
}

.primary-file-button {
  position: absolute;
  top: -2px;
  left: -44px;
  min-height: 38px;
  max-height: 156px;
  height: 100%;
  width: 40px;
  border: 2px solid #e0e0e0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #fff;
  box-sizing: content-box;
  z-index: 52;
  cursor: pointer;
  
  svg {
    margin-top: 11px;
    margin-left: 12px;
    fill: rgba(0, 0, 0, 0.35)
  }
  
  &:hover {
    background: #56B68B;
    border-color: #56B68B;
    svg {
      fill: #fff;
    }
  }
}

.notification-bar {
  position: absolute;
  left: 20px;
  bottom: 3px;
  // padding-right: 110px;
  // width: 100%;
}

.messages-container {
  position: absolute;
  // margin-left: 220px;
  top: 3.775rem;
  left: 220px;
  right: 0px;
  bottom: 64px;
  overflow:auto;
  font-size: 1rem;
  color: $channel-text-color;
}

.day-divider {
  position: relative;
  text-align: center;
}

.messages-divider-line {
  height: 1px;
  left: 0;
  right: 0;
  background-color: $divider-color;
}

.day-divider-label {
  display: inline-block;
  position: relative;
  top: -0.7rem;
  padding: 0.25rem 0.75rem;
  background: #fff;
  border-radius: 1rem;
  margin: 0 auto;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: default;
}

.day-messages {
  margin-bottom: 1.25rem;
  margin-top: 1.75rem;
}

.message {
  position: relative;
  padding-right: 2.5rem;
  padding-left: 4.5rem;
  padding-top: 1px;
  padding-bottom: 2px;
  font-size: 0.935rem;
  line-height: 1.375rem;
  &:hover {
    background: $message-hover-color;
    
    .star-toggle {
      visibility: visible;
    }
    .timestamp {
      display: inline;
    }
  }
}

.message-content {
  line-height: 1.375rem;
  padding-top: 1px;
  padding-bottom: 2px;
}

.message-gutter {
  position: absolute;
  left: 0;
  width: 3.875rem;
  padding-right: 0.625rem;
  text-align: right;
  
  .filled-star {
    margin-right: -2px;
  }
}

.lead-message {
  // padding-top: 0.5rem;
}

.lead-message-header {
  line-height: 1.125rem;
  padding-top: 0.25rem;
}

.lead-message-gutter {
  top: 0;
}

.sender {
  font-weight: 900;
  margin-right: 0.35rem;
}

.timestamp {
  font-size: 0.75rem;
  font-weight: 300;
  margin-right: 0.15rem;
  color: $aside-info-color;
}

.channel-header {
  margin-left: 220px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.075rem;
  padding-top: 0.7rem;
  width: auto;
  border-bottom: 1px solid $divider-color;
  padding-left: 1.3rem;
  background: #fff;
  white-space: nowrap;
  min-width: 600px;
  z-index:20;
  &:hover {
    .star-toggle {
      visibility: visible;
    }
  }
}

.channel-title {
  float: left;
  max-width: 200px;
  text-overflow: ellipses;
}

.lock {
  display: inline-block;
  vertical-align: -1.5%;
}

.lock.CH {
  margin-left: -2px;
  
}

.lock.CS {
  margin-left: -0.8px;
  fill: $cs-text-color;
  opacity: 0.5;
}

.channel-header-name {
  font-weight: 900;
  color: #2c2d30;
  font-size: 1.125rem;
  margin-left: 2px;
}

.star-toggle {
  display: inline-block;
  margin-left: 5px;
  vertical-align: -2%;
  visibility: hidden;
  fill: #9e9ea6;
  
  &:hover {
    fill: #F8CF34;
  }
  
  img {
    margin-left: -1px;
    visibility: visible;
  }
}

.member-count {
  display: inline-block;
  color: #9e9ea6;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 2px;
  line-height: 1.13rem;
  cursor: pointer;
  &:hover {
    color: #3aa3e3;
  }
}

.topic-divider {
  color: $divider-color;
  padding: 0rem 0.2rem 0.4rem 0.4rem;
  font-weight: 300;
  font-size: 0.8rem;
}

.topic {
  display: inline-block;
  color: #9e9ea6;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 2px;
  line-height: 1.13rem;
  font-style: italic;
  cursor: pointer;
  border: 1px solid #fff;
  padding-left: 3px;
  &:hover {
    padding-right: 20px;
    background: url("../svg/inline-edit.svg") 96% 48% no-repeat;
    z-index: 40;
    border: 1px solid $divider-color;
    border-radius: 4px;
    box-shadow: 0px 2px 2px $divider-color;
  }
}

.more-items {
  float: right;
  margin-top: 8px;
  margin-left: 2px;
  margin-right: 11px;
  
  &:hover {
    svg {
      fill: $hover-blue;
    }
  }
}

.header-icon {
  float: right;
  margin-top: 3px;
  border-radius: 0.25rem;
  height: 32px;
  width: 33px;
  
  &.open {
    background: #f2f2f5;
    z-index: 100;
    svg {
      fill: #2c2d30 !important;
    }
    &:hover {
      background: $divider-color;
    }
  }
}

.show-starred-items {
  
  svg {
    margin-top: 6px;
    margin-left: 5px;
    fill: #2c2d30;
  }
  
  &:hover {
    svg {
      fill: #F8CF34;
    }
  }
}

.show-mentions {
  margin-right: 1px;
  
  svg {
    margin-top: 6px;
    margin-left: 6px;
    fill: #2c2d30;
  }
  
  &:hover {
    svg {
      fill: #eb4d5c;
    }
  }
}

.show-channel-details {
  svg {
    margin-top: 4px;
    margin-left: 5px;
    fill: #a2a2a2;
  }
  
  &:hover {
    svg {
      fill: $icon-blue;
    }
  }
  
  &.open {
    svg {
      fill: #a2a2a2 !important;
    }
    &:hover {
      svg {
        fill: #2c2d30 !important;
      }
    }
  }
}

.channel-settings {
  float: right;
  margin-top: 3px;
  border-radius: 0.25rem;
  height: 32px;
  width: 33px;
  
  svg {
    margin-top: 6px;
    margin-left: 2px;
    fill: #a2a2a2;
  }
  
  &:hover {
    svg {
      fill: $icon-blue;
    }
  }
}

.search-bar {
  float: right;
  width: 134px;
  max-width: 100%;
  height: 30px;
  border: 1px solid $divider-color;
  border-radius: 0.35rem;
  margin-top: 2px;
  margin-right: 8px;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
  background: url("../svg/search.svg") 3% 50% no-repeat;
  font-size: 0.9375rem;
  font-family: inherit;
  color: #555459;
  transition: border-color, width 0.15s;
  
  &:focus, &:hover {
    border-color: $hover-blue;
  }
  
  &:focus {
    width: 211px;
  }
}

.divider-bar {
  float: right;
  display: inline-block;
  width: 1px;
  height: 1.6rem;
  background: $divider-color;
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 5px;
}



.channel-switcher {
  z-index: 10;
  position: absolute;
  background: #4D394B;
  width: 220px;
  height: 100%;
  float: left;
  font-family: 'Lato', Helvetica, sans-serif;
  color: #ab9ba9;
}

.clear {
  clear: both;
}

.cs-header {
  width: 220px;
  height: 61px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    color: #fff;
    background: $cs-hover-background;
    span {
      color: #fff;
    }
    .bell-inner {
      fill: $cs-hover-background;
    }
  }
}

.cs-header-name {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.375rem;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  margin-top: 0.6rem;
  margin-left: 1rem;
  max-width: 8rem;
}

.cs-header-or {
  color: #ab9ba9;
  font-weight: 300;
  font-size: 0.5rem;
  width: 1rem;
  display:inline-block;
    -webkit-transform:scale(1.6,1); 
    -ms-transform:scale(1.6,1);
    -o-transform:scale(1.6,1); 
    transform:scale(1.6,1);
  margin-left: 0.5rem;
  vertical-align: middle;
  line-height: 0.75rem;
  padding-bottom: 0.3rem;
}

.cs-header-presence {
  margin-left: 1.2rem;
  margin-top: 0.32rem !important;
}

.notifications-icon {
  float: right;
  width: 20px;
  height: 48px;
  margin-right: 1rem;
  padding-top: 13px;
  &:hover {
    .bell {
      opacity: 1;
      fill: #fff;
    }
  }
}

.bell {
  opacity: 0.5;
}

.bell-inner {

}

.overflow-ellipses {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.channels-container {
  font-size: 0.9rem;
  overflow: hidden;
  padding-top: 0.25rem;
  margin-bottom: 2rem;
}

.channels-count {
  opacity: 0.5;
  float: left;
}

.channels-header {
  margin-bottom: 0.4rem;
  margin-left: 1rem;
  cursor: pointer;
  float: left;
  font-size: 0.8rem;
  width: 162px;
  transition: all 0.1s;
  
  &:hover {
    opacity: 1;
    color: #fff;
  }
}

.channels-header-name {
  float: left;
  margin-right: 0.15rem;
  text-transform: uppercase;
  max-width: 14rem;
}

.plus-circle {
  float: right;
  margin-right: 1.2rem;
  font-size: 0.95rem;
  color: #ab9ba9;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  font-family: inherit;
  border: 1.5px solid #ab9ba9;
  padding:0.05rem;
  text-align: center;
  line-height: 0.65rem;
  cursor: pointer;
  opacity: 0.3;
  margin-top: -0.1rem;
  transition: opacity 50ms;
  
  &:hover {
    opacity: 1;
  }  
}

.x-circle {
  float: right;
  margin-right: 0.25rem;
  font-size: 0.7rem;
  color: #ab9ba9;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  font-family: inherit;
  border: 1.5px solid #ab9ba9;
  text-align: center;
  line-height: 0.565rem;
  cursor: pointer;
  margin-top: 0.3rem;
}

.channel-container {
  font-family: 'Lato', Helvetica, sans-serif; 
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding-left: 1.2rem;
  margin-right: 1rem;
  border-radius: 0 0.25rem 0.25rem 0;
  cursor: pointer;
  
  &:hover {
    background: #3E313C;
    z-index: 20;
  }
}

.channel-name {
  margin-left: 0.3rem;
}

.cs-username {
  margin-left: 0.3rem;
  font-style: italic;
}

.cs-username-header {
  font-weight: 300;
  font-size: 0.875rem;
}

.presence {
  float: left;
  border-radius: 50%;
  width: 0.4rem;
  height: 0.4rem;
  margin-top: 0.6rem;
}

.presence-false {
  border: 1.5px solid #ab9ba9;
  opacity: 0.7;
}

.presence-true {
  background: #38978D;
  border: 1.5px solid #38978D;
}

.hash-indicator {
  opacity: 0.5;
}

.hash-indicator.CH {
  opacity: 1;
  font-weight: 900;
  color: #2c2d30;
  font-size: 1.125rem;
  margin-right: -2px;
}

.hidden {
  display: none;
}

.no-italic-true {
  font-style: normal;
}

.svg {
  float: right;
  fill: green;
}
