$cs-text-color: #ab9ba9;
$cs-background: #4D394B;
$cs-hover-background: #3E313C;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: goldenrod;
  height: 100%;
  margin: 0;
  font-size: 1rem;
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  margin-bottom: -1px;
}

.channel-switcher {
  z-index: 10;
  position: absolute;
  background: #4D394B;
  width: 220px;
  height: 100%;
  float: left;
  font-family: 'Lato', Helvetica, sans-serif;
  color: #ab9ba9;
}

.clear {
  clear: both;
}

.cs-header {
  width: 220px;
  height: 61px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: color 0.1s;
  &:hover {
    color: #fff;
    background: $cs-hover-background;
    span {
      color: #fff;
    }
    .bell-inner {
      fill: $cs-hover-background;
    }
  }
}

.cs-header-name {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.375rem;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  margin-top: 0.6rem;
  margin-left: 1rem;
  max-width: 8rem;
}

.cs-header-or {
  color: #ab9ba9;
  font-weight: 300;
  font-size: 0.5rem;
  width: 1rem;
  display:inline-block;
    -webkit-transform:scale(1.6,1); 
    -ms-transform:scale(1.6,1);
    -o-transform:scale(1.6,1); 
    transform:scale(1.6,1);
  margin-left: 0.5rem;
  vertical-align: middle;
  line-height: 0.75rem;
  padding-bottom: 0.3rem;
}

.cs-header-presence {
  margin-left: 1.2rem;
  margin-top: 0.32rem !important;
}

.notifications-icon {
  float: right;
  width: 20px;
  height: 46px;
  margin-right: 0.9rem;
  padding-top: 15px;
  &:hover {
    .bell {
      opacity: 1;
      fill: #fff;
    }
  }
}

.bell {
  opacity: 0.5;
}

.bell-inner {

}

.overflow-ellipses {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.channels-container {
  font-size: 0.9rem;
  overflow: hidden;
  padding-top: 0.25rem;
  margin-bottom: 2rem;
}

.channels-count {
  opacity: 0.5;
  float: left;
}

.channels-header {
  margin-bottom: 0.4rem;
  margin-left: 1rem;
  cursor: pointer;
  float: left;
  font-size: 0.8rem;
  width: 162px;
  transition: all 0.1s;
  
  &:hover {
    opacity: 1;
    color: #fff;
  }
}

.channels-header-name {
  float: left;
  margin-right: 0.15rem;
  text-transform: uppercase;
  max-width: 14rem;
}

.plus-circle {
  float: right;
  margin-right: 1.2rem;
  font-size: 0.95rem;
  color: #ab9ba9;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  font-family: inherit;
  border: 1.5px solid #ab9ba9;
  padding:0.05rem;
  text-align: center;
  line-height: 0.65rem;
  cursor: pointer;
  opacity: 0.3;
  margin-top: -0.1rem;
  transition: opacity 50ms;
  
  &:hover {
    opacity: 1;
  }
  
}

.x-circle {
  float: right;
  margin-right: 0.25rem;
  font-size: 0.7rem;
  color: #ab9ba9;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  font-family: inherit;
  border: 1.5px solid #ab9ba9;
  text-align: center;
  line-height: 0.565rem;
  cursor: pointer;
  margin-top: 0.3rem;
}

.channel-container {
  font-family: 'Lato', Helvetica, sans-serif; 
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding-left: 1.2rem;
  margin-right: 1rem;
  border-radius: 0 0.25rem 0.25rem 0;
  cursor: pointer;
  
  &:hover {
    background: #3E313C;
    z-index: 20;
  }
}

.channel-name {
  margin-left: 0.3rem;
}

.cs-username {
  margin-left: 0.3rem;
  font-style: italic;
}

.cs-username-header {
  font-weight: 300;
  font-size: 0.875rem;
}

.presence {
  float: left;
  border-radius: 50%;
  width: 0.4rem;
  height: 0.4rem;
  margin-top: 0.6rem;
}

.presence-false {
  border: 1.5px solid #ab9ba9;
  opacity: 0.7;
}

.presence-true {
  background: #38978D;
  border: 1.5px solid #38978D;
}

.hash-indicator {
  opacity: 0.5;
}

.hidden {
  display: none;
}

.no-italic-true {
  font-style: normal;
}
